*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_box1{
    width:319px;
    height: 880px;
    background-color: #222222;
    display: flex;
    flex-direction: column;

}
.mainbox{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;

}
.main_title{
    color: #fff;
    font-size: 20px;
}
.title{
    font-weight: bold ;
    /* text-shadow: white; */
}
.menu_box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.navigations_box{
    color: #fff;
    padding-left: 30px;

  
}
.first_list{
    border: 10px solid #FF2288;
    border-radius: 5em;
    background-color: #FF2288;
    width:250px;
   
    
}

.list_text{
    padding-left:15px ;
    
}
.extra_list{
    padding-top: 10px;
    font-display: flex;
    align-items: center;
}
.followers{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;

}
.navigations_box2{
    color: #fff;
}

.list_text2{
    padding-left:15px;
   
}
.list_box2{
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.container{
    max-width: 1935px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
   
}

.header_navbarli{
    display: flex;    
}

.header_list1{
    border: 15px solid #E7E7E7;
    background-color: #E7E7E7;
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: #707070;
} 

.list_color{
    color:#FF2288;
}
.header_list2{
    padding-left: 30px;
    

}

.list_border{
    border: 10px solid #FF2288;
    background-color: #FF2288;
    border-radius: 2em;
    width:150px;
    padding-left: 15px;

}
.white_color{
    color: #fff;
}

.header_and_content {
    flex-grow: 1;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

