*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_box1{
    width:319px;
    height: 880px;
    background-color: #222222;
    display: flex;
    flex-direction: column;

}
.mainbox{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;

}
.main_title{
    color: #fff;
    font-size: 20px;
}
.title{
    font-weight: bold ;
   
}
.menu_box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.navigations_box{
    color: #fff;
    padding-left: 30px;

  
}
.first_list{
    border: 10px solid #FF2288;
    border-radius: 5em;
    background-color: #FF2288;
    width:250px; 
    
}

.list_text{
    padding-left:15px ;
    
}
.extra_list{
    padding-top: 10px;
    font-display: flex;
    align-items: center;
}
.followers{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;

}
.navigations_box2{
    color: #fff;
}

.list_text2{
    padding-left:15px;
   
}
.list_box2{
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.container{
    max-width: 1935px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
   
}

.header_navbarli{
    display: flex; 
    align-items: center;   
}

.header_list1{
    border: 15px solid #E7E7E7;
    background-color: #E7E7E7;
    border-radius: 2em;
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: #707070;
} 

.list_color{
    color:#FF2288;
}
.header_list2{
    padding-left: 30px;
    

}

.list_border{
    border: 10px solid #FF2288;
    background-color: #FF2288;
    border-radius: 2em;
    width:120px;
    height: 50px;
    padding:5px 0 0 15px ;
    margin-left: 20px;

}
.white_color{
    color: #fff;
}

.header_and_content {
    flex-grow: 1;
    margin:20px 40px 0 20px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content{
    max-width: 950px;
    width: 100%;
    margin:50px auto ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header_content{
    padding-left: 30px;
}
.content_title{
    font-size: 15px;
}
.background_box{
    border:1px solid #E7E7E7;
    background-color: #E7E7E7;
    border-radius: 1em;
    display: flex;
    align-items: center;
    width:56px;
    height: 56px;
    padding:20px;
}
.beside_box{
    border: 1px solid #E7E7E7;
    border-radius: 2em;
    display: flex;
    align-items: center;
    width:120px;
    height: 50px;
    padding:20px;
    margin-left: 20px;

}
.beside_item{
    padding-left: 10px;
}
.main_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:30px 50px;
}
.img_size{
    width: 187px;
}
.second_content{
    display: flex;
    justify-content: space-around;
    margin:40px 20px;

}
.alone_border{
    display: flex;
    justify-content: center;
    border: 1px solid #F2F2F2;;
    background-color: #F2F2F2;
    border-radius: 2em;
    width:289px;
    height: 50px;
    padding:20px 50px;
    margin-top:50px;
    
}

.footer_container{
    max-width: 991px;
    width: 100%;
    margin:50px auto ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.footer{
    flex-grow: 1;
    margin:20px 40px 0 20px;
}
.footer_followers{
    display: flex;
    justify-content: space-between;
    border:1px solid #F2F2F2;
    background-color: #F2F2F2;
    width: 1610px;
    height: 300px;
}







.content_navbarli{
    display: flex;
    justify-content: space-around;
}

.contact_navigation{
    padding-left: 80px;
    font-weight: bold ;

}
.contact_list{
   padding-top: 30px;
   padding-left: 20px;
    
}
/* .footer_background{
    width:100%;

}
.footer_contact{
    max-width: 950px;
    width: 100%;
    margin:50px auto ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */