*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_box1{
    width:319px;
    height: 800px;
    background-color: #222222;

}
.mainbox{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;

}
.main_title{
    color: #fff;
    font-size: 20px;
}
.title{
    font-weight: bold ;
    /* text-shadow: white; */
}
/* .navigations{
    display: flex;
    justify-content: space-around;
} */
/* .navigations_box{
    align-items:center;
} */
.first_logo{
    border: 10px solid #FF2288;
    border-radius: 2em;
    background-color: #FF2288;
}
